* {
margin: 0;
padding: 0;
box-sizing: border-box;
}
ul{
  list-style: none;
  /* margin:  0em 5em; */
  background-color: rgb(174, 116, 226);
}
li{
  padding: 0.1em;
  cursor: pointer;
  text-align: center;
}
li:hover{
  background: rgb(223, 197, 246);
}
#cats_container{
padding: 1em;
}

img{
  display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;}

p, h2{
  /* background-color: yellow; */
  padding: 0.4em;
  padding-top: 1em;
  width: 100%;
  text-align: center;
}

#cats_container{
  background-color: rgb(235, 216, 251);
  position: relative;
  top: 3em;
  margin: 0 auto;
  width: 70%;
  /* height: 80%; */
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}
